{{- if or .Values.acr.refreshToken .Values.acr.username .Values.acr.password .Values.docker.token .Values.ecr.accessKeyID .Values.ecr.secretAccessKey .Values.ecr.sessionToken .Values.docker.username .Values.docker.password .Values.gcr.token .Values.quay.token (not (eq (len .Values.selfhosted) 0)) }}
apiVersion: v1
data:
  # ACR
  {{- if .Values.acr.refreshToken }}
  acr.refreshToken: {{.Values.acr.refreshToken | b64enc }}
  {{- end}}
  {{- if .Values.acr.username }}
  acr.username: {{.Values.acr.username | b64enc }}
  {{- end}}
  {{- if .Values.acr.password }}
  acr.password: {{.Values.acr.password | b64enc }}
  {{- end}}

  # Docker
  {{- if .Values.docker.token }}
  docker.token: {{.Values.docker.token | b64enc }}
  {{- end}}
  {{- if .Values.docker.username }}
  docker.username: {{.Values.docker.username | b64enc }}
  {{- end}}
  {{- if .Values.docker.password }}
  docker.password: {{.Values.docker.password | b64enc }}
  {{- end}}

  # ECR
  {{- if .Values.ecr.accessKeyID }}
  ecr.accessKeyID: {{ .Values.ecr.accessKeyID | b64enc }}
  {{- end}}
  {{- if .Values.ecr.secretAccessKey }}
  ecr.secretAccessKey: {{ .Values.ecr.secretAccessKey | b64enc }}
  {{- end}}
  {{- if .Values.ecr.sessionToken }}
  ecr.sessionToken: {{ .Values.ecr.sessionToken | b64enc }}
  {{- end}}

  # GCR
  {{- if .Values.gcr.token }}
  gcr.token: {{ .Values.gcr.token | b64enc }}
  {{- end}}

  # Quay
  {{- if .Values.quay.token }}
  quay.token: {{ .Values.quay.token | b64enc }}
  {{- end}}

  # Selfhosted
  {{range $index, $element := .Values.selfhosted }}
  {{- if $element.host }}
  selfhosted.{{ $element.name }}.host: {{ $element.host | b64enc }}
  {{- end }}
  {{- if $element.username }}
  selfhosted.{{ $element.name }}.username: {{ $element.username | b64enc }}
  {{- end }}
  {{- if $element.password }}
  selfhosted.{{ $element.name }}.password: {{ $element.password | b64enc }}
  {{- end }}
  {{- if $element.token }}
  selfhosted.{{ $element.name }}.token: {{ $element.token | b64enc }}
  {{- end }}
  {{- end }}

kind: Secret
metadata:
  name: {{ include "version-checker.name" . }}
  labels:
{{ include "version-checker.labels" . | indent 4 }}
type: Opaque
{{- end }}
