name: Test Helm Chart
on:
  pull_request:
    paths:
      - "!*.md"
      - "deploy/charts/version-checker/**"
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  lint:
    name: Lint Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - uses: azure/setup-helm@v4
        with:
          version: v3.19.0

      - run: helm lint deploy/charts/version-checker

  test:
    name: Run unit tests for Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - uses: azure/setup-helm@v4
        with:
          version: v3.19.0

      - name: Install helm Plugins
        run: |
          if [ ! -e "${HELM_PLUGINS}/helm-unittest" ]; then
            helm plugin install https://github.com/helm-unittest/helm-unittest.git
          fi

      - name: Run Tests
        run: |
          if [ ! -e "deploy/charts/version-checker/tests" ]; then
            echo "Not running tests, directory doesn't exist: deploy/charts/version-checker/tests"
            exit 0
          fi
          helm unittest deploy/charts/version-checker

  security_policies:
    name: Verify that the Helm chart complies with the pod security standards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Kyverno CLI
        uses: kyverno/action-install-cli@v0.2.0

      - run: |-
          kyverno apply -p https://github.com/kyverno/policies/pod-security/restricted --git-branch main --resource <(helm template deploy/charts/version-checker/)
