# Default values for version-checker.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

pod:
  labels: {}
  annotations: {}

svc:
  labels: {}
  annotations: {}

image:
  repository: quay.io/jetstack/version-checker
  # Override the chart version
  tag:
  pullPolicy: IfNotPresent

service:
  port: 8080

versionChecker:
  imageCacheTimeout: 30m
  logLevel: info # debug, info, warn, error, fatal, panic
  metricsServingAddress: 0.0.0.0:8080
  testAllContainers: true # don't require the enable.version-checker.io annotation

acr:
  username:
  password:
  refreshToken:

docker:
  username:
  password:
  token:

ecr:
  # in AWS EKS use the following
  # https://docs.aws.amazon.com/eks/latest/userguide/specify-service-account-role.html
  iamRoleArn:

  # else use the AWS credentials
  accessKeyID:
  secretAccessKey:
  sessionToken:

gcr:
  token:

quay:
  token:

# Can be used to provide custom environment variables e.g. proxy settings
env: {}

selfhosted:
  {}
  #- name: REGISTRY
  #  host: http://registry:5000
  #  username:
  #  password:
  #  token:
  #- name: EXAMPLE
  #  host: https://artifactory.example.com
  #  username: foo
  #  password: bar
  #  token:

resources:
  {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
  #

readinessProbe:
  enabled: true
  httpGet:
    path: /readyz
    port: 8080
  initialDelaySeconds: 3
  periodSeconds: 3

livenessProbe:
  enabled: true
  httpGet:
    path: /readyz
    port: 8080
  initialDelaySeconds: 3
  periodSeconds: 3

# Prometheus Operator
prometheus:
  enabled: false
  replicas: 1
  serviceAccountName: prometheus

serviceMonitor:
  enabled: false
  additionalLabels: {}
